/* RESPONSIVE TERMINADO */

@media screen and (max-width:1920px){
/* Terminado */
    .formulario h1{
        left: 680px;
    }
    .formulario p{
        left: 760px;
    }
}

@media screen and (max-width:1440px){
    /* Terminado */
    .formulario h1{
        left: 440px;
    }
    .formulario p{
        left: 520px;
    }


}

@media  screen and (max-width:1280px){
    /* Terminado */
    .formulario h1{
        left: 360px;
    }
    .formulario p{
        left: 440px;
    }
}

@media screen and (max-width:1024px) {
    /* Terminado */
    main{
        height: 1000px;
    }
    .formulario h1{
        left: 240px;
    }
    .formulario p{
        left: 320px;
    }

}

@media screen and (max-width:600px) {
    /* Terminado */
    .formulario h1{
        left: 170px;
    }
    .formulario p{
        left: 230px;
    }
    .formulario{
        width: 300px;
    }
    .center label{
        color: black;
        font-weight: 600;
        filter: drop-shadow(1px 1px 1px #fff);
    }
    .center input{
        width: 450px;
        
    }
    form button{
        margin-top: 40px;
        left: 120px;
    }
    


}

@media screen and (max-width:480px) {

    main{
        height: 1000px;
        width: 480px;
    }
    .formulario h1{
        left: 120px; 
        top: 150px;
        font-weight: 800;
       
    }
    .formulario p{
        left: 150px;
        top: 200px;
        font-weight: 600;
        filter: drop-shadow(1px 2px 3px red);
    }
    .center label{
        color: black;
        font-weight: 600;
        filter: drop-shadow(1px 1px 1px #fff);
    }
    .center input{
        width: 350px;
        
    }
    form button{
        margin-top: 40px;
        left: 90px;
    }
    


}
