body{
    background-image: url(img/trivia/fondogimnasio\ copia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Comienzo de Header */
header{
    
    background-color: #000;
    height: 100px;
    width: 100%;
    
    
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav{
   margin-left: 115px;
 
}
.nav a{
    padding-right: 60px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease;
}
.nav a:hover{
    color: red;
    filter: drop-shadow(10px 10px 20px red);
}

.logo{
    width: 140px;
    height: 90px;
}
.btn-head{
    margin-right: 20px;
    height: 60px;
    width: 180px;
    
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5%;
    transition: 0.3s ease;

}
.btn-head:hover{
    background: #e52d27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.btn-head a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}

.drop{
    display: none;
}
/* Comienzo de TRIVIA */
.trivia{
    display: grid;
    place-items: center;
    padding-top: 20px;
    width: 100%;
    height: auto;
    margin-bottom: 100px;
    
    
}
.tittle{
    text-align: center;
    font-size: 6rem;
    color: #FFD700;
    filter: drop-shadow(2px 2px 10px #FFD700);
    margin: 0;
    margin-bottom: 40px;

}
/* Estilos pregunta 1 */
.trione{
    width: 600px;
    margin-top: 30px;
    border: 1px solid black;
    filter: drop-shadow(2px 2px 20px #000);
    background: #434343;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius: 10% 15% ;
    color: #fff;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.trione h3{
    font-size: 30px;
    border-bottom: 2px solid rgb(143, 143, 143) ;
    padding-bottom: 20px;
    width: 100%;
}
.trione button{
    width: 400px;
    height: 60px;
    margin: 10px 0px;
    border: none;
    color: #fff;
    background-color: #240b36;
    cursor: pointer;
    font-size: 20px;
}

.trione .correcto{
    background-color: rgb(10, 155, 10);
    scale: 1.2;
}
.trione .incorrecto{
    background-color: rgb(255, 3, 3);
    scale: 1.2;
}



/* Botones*/
.botones{
    width: 600px;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.btn-restart{
    color: #fff;
    font-size: 25px;
    margin-top: 40px;
    border: none;
    width: 200px;
    height: 40px;
    background: #e52d27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    cursor: pointer;
    transition: 0.3 ease;
}
.btn-restart:hover{
    background: rgb(54, 0, 54);  /* fallback for old browsers */
   
}
.btn-result{
    color: #fff;
    font-size: 25px;
    margin-top: 40px;
    border: none;
    width: 200px;
    height: 40px;
    background: #e52d27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    cursor: pointer;
}
.btn-result:hover{
    background: rgb(54, 0, 54);  /* fallback for old browsers */
   
}

.btn-volver{
    color: #fff;
    font-size: 25px;
    margin-top: 40px;
    border: none;
    width: 200px;
    height: 60px;
    background: #e52d27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    cursor: pointer;

}
.btn-volver a{
    text-decoration: none;
    color: #fff;
}
.btn-volver:hover{
    background: rgb(54, 0, 54);  /* fallback for old browsers */
   
}