

main{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(img/fondoregistro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;

}
.titulo{
    width: 450px;
    height: 300px;
    padding-top: 10px;

}
.formulario{
    display: flex;
    justify-content: center;
    z-index: 2;
}
.formulario h1{
    position: absolute;
    left: 570px;
    top: 200px;
    color: #fff;
    font-size: 35px;
}
.formulario p{
    position: absolute;
    left: 630px;
    top: 240px;
    font-size: 20px;
    color: #fff;
}
.center{
    display: flex;
    justify-content: center;
     position: absolute;
    top:300px;
    
}
label{
    font-size: 18px;
    color: #fff;
}
input{
    border: none;
    border-bottom: #303030 solid 3px;
    width: 550px;
    background-color: transparent;
    margin-top: 12px;
    margin-bottom: 18px;
    padding-bottom: 10px;
}
input::placeholder{
    color: #4e3f3f;
}
.account{
    color: #fff;
}
.inic-ses{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
}
.inic-ses:hover{
    font-weight: 900;
    color: red;
}
form button{
    margin-right: 20px;
    height: 60px;
    width: 180px;
    margin-top: 30px;
    background-color: blueviolet;
    color: #fff;
    font-size: 600;
    font-size: 18px;
    border-radius: 5%;
    transition: 0.3s;
    border: none;
    position: absolute;
    left: 370px;
}
button:hover{
    background-color: red;
}
form button a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
} 
