header{
    background-color: #000;
    height: 100px;
    width: 100%;
    z-index: 1;
    
}
.navbar{
    display: flex;
    justify-content: space-between;

}

.nav{
   margin-left: 115px;
   margin-top: 30px;
 
}
.nav a{
    padding-right: 60px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease;
}
.nav a:hover{
    color: red;
    filter: drop-shadow(10px 10px 20px red);
}

.logo{
    width: 140px;
    height: 90px;
}
.btn-head{
    margin-right: 20px;
    margin-top: 20px;
    height: 60px;
    width: 180px;
    
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5%;

    cursor: pointer;
    transition: 0.3s ease;

}
.btn-head:hover{
    background: #e52d27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.btn-head a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}

.dropdown{
    display: none;
}

/* Fin Del Header */


main{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.8), #00000080), 
                url(img/fondocompra.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    width: 100%;
    height: 100dvh;
}

/* Comienzo compra */
.compra{
    margin-top: 10%;
    margin-right: 15%;
    margin-left: 10%;
    width: 1000px;
    color: #fff;
    text-align: center;
}

.suscribe{
    font-size: 70px;
    font-weight: 700;
}
.crows{
    font-size:80px;
    color: red;
    font-weight: 900;
    filter: contrast(1.9) drop-shadow(3px 1px 3px red);
    
}

.parrafo{
    font-size: 30px;
    font-weight: 800;
    color: #dbcbcb;
}
.fisico{
    color: rgb(222, 222, 59);
    font-size: 40px;
    filter: contrast(1.9) drop-shadow(1px 2px 4px red);
}
/* Comienzo Formulario */
.form{
    margin-right: 150px;
    
    background: #200122;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #6f0000, #000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



    color: #fff;
    display: block;
    justify-content: center;
    
    width: 600px;
    height: 860px;
    border-radius: 30px;

}

.title{
    font-weight: 45px;
    color: #fff;
    margin-left: 20px;
}
h3{
    color: #dbcbcb;
    margin-left: 20px;
}
label{
    color: #fff;
    font-size: 18px;
    margin-left: 20px;
}

.inp{
    background-color: transparent;
    color: #fff;
    border: none;
    border-bottom: solid #000 2px ;
    width: 500px;
    height: 30px;
    text-decoration: none;
    margin-left: 20px;
    margin-bottom: 20px;
}
.card{
    /* filter: drop-shadow(1px 1px 5px #ffcc00); */
    filter: drop-shadow(1px 3px 8px #fdc830);
    background: #FDC830;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

    margin: 20px;
    
    border-radius: 10px;
    height: 250px;
}
.titleCard{
    font-size: 35px;
    color: #fff;
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 0px;
}
.chip{
    width: 60px;
    margin-left: 40px;
}
.wif{
    font-size: 50px;
    display: inline-block;
    position: relative;
    left: 320px;
    bottom: 35px;
    transform: rotate(90deg);
}
.numeroCard{
    width: 500px;
    height: 40px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 40px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 30px;
}

.cvv{
    width: 40px;
    height: 30px;
    font-size: 18px;
    background-color: transparent;
    border: none;
    color: #fff;
}
.fecha{
    width: 130px;
    height: 30px;
    font-size: 18px;
    background-color: transparent;
    border: none;
    color: #fff;
}


.contenedor {
    display: flex;
    justify-content: center; 
    height: 100%; 
}

.btn {
    padding: 15px 20px;

    background: #8E0E00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn:hover{
    background: #8E0E00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    scale: 1.1;

}