@font-face {
    /* Fuente para flecha */
    font-family: arrow;
    src: url(fuente/arrow_7.ttf);
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* icono whatsapp */
.wspa{
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 1000;
    background-color: green;
    width: 50px;
    height: auto;
    border-radius: 50%;
    transition: 0.1s ease;
}

.tamaño{
    font-size: 30px;
    margin: auto;
    color: #fff;
   
}
.wspa:hover{
    scale: 1.4;
 }

/* fin icono whatsapp */

header{
    background-color: #000;
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 1000;
    margin-bottom: 20px;
    
}
.navbar{
    display: flex;
    justify-content: space-between;

}

.nav{
   margin-left: 115px;
 
}
.nav a{
    padding-right: 60px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease;
}
.nav a:hover{
    color: red;
    filter: drop-shadow(10px 10px 20px red);
}

.logo{
    width: 140px;
    height: 90px;
}
.btn-head{
    margin-right: 20px;
    height: 60px;
    width: 180px;
    
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5%;
    transition: 0.3s ease;

}
.btn-head:hover{
    background: #e52d27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.btn-head a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}

.dropdown{
    display: none;
}

/* Fin Del Header */


/* Comienzo Intro */
main{
    padding-top: 10px;
}
.vid{
    width: 100%;
    height: 100vh;
}
video{
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.capa {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #1c1c1d;
    opacity: 0.5;} 
.tittle{
    display: flex;
    position: relative;
    z-index: 2;
    top: 250px;
    margin: auto;
}
div .arrow{
    display: flex;
    position: relative;
    z-index: 2;
    margin-left: 45%;
    color: #780206;  /* fallback for old browsers */

    font-family: arrow;
    font-size: 150px;
    animation: arrow1 1s ease infinite; /*Indica nombre animacion, duracion y veces que se repite */
    animation-direction: alternate-reverse; /*Indica hacia donde se movera*/
    
}
@keyframes arrow1{
    0% {
        padding-top: 200px;
    }
    100% { 
        padding-top: 230px;
    }
}
/* Terminado Intro */
/* Comienzo Inicio */
.cambio{
    width: 100%;
    height: 420px;
    background-color: #1c1c1d;
}
.pad{
    padding-top: 120px;
}
.cambio h1{
    text-align: center;
    font-size: 42px;
    font-weight: 800;
    color: #fff;
}
.crowcolor{
    text-align: center;
    font-size: 42px;
    font-weight: 800;
    color: red;
    padding-bottom: 20px;

}


/* Inicio Tienda */
.shop{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: space-around;
    padding-top: 180px;
    padding-left: 20px;
    padding-right: 20px;
}
.cuadro{
    height: 600px;
    width: 300px;
    display: flex;
    border: solid red 2px;
    border-radius: 1%;
    background-color: rgb(0, 0, 0);
    flex-direction: column;
    align-items: center;
    transition: 0.3s ease;
    margin: 30px 0px;
}

.texto{
    display: none;
    color: #fff;
    margin: 5px 8px;
    font-weight: 12px;
}

.ancho{
    width: 100%;
    height: 480px;
    transition: 0.3s ease;
    
}
.precio{
    display: flex;
    color: #fff;
    width: 260px;
    text-align: left;

}

.bprincipal{
    height: 60px;
    width: 180px;  
    background-color: red;
    border: none;
    color: #fff;
    font-size: 600;
    font-size: 18px;
    border-radius: 5%;
    transition: 0.3s;
    margin-bottom: 10px;

}

.bprincipal:hover{
    background-color: blueviolet;
    cursor: pointer;
    scale: 1.1;
}

.bprincipal a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
} 

/* Comienzo Contactanos  */
.contacto{
    display: flex;
    justify-content: space-between;
    padding: 10px 100px 10px 100px;

    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
    width: 100%;
    height: 800px;
    padding-top: 100px;
}
.contac{
    display: flex;
    justify-content: center;
    color: white;
    padding: 20px;
    border: 2px solid red;
    border-radius: 5%;
    width: 600px;
    height: 650px;
}
.contac h1{
    color: orangered;
    font-weight: 800;
}

.contac input{
    background-color: transparent;
    border: none;
    
    border-bottom: #fff solid 3px;
    width: 400px;
    padding-bottom: 20px;
    color: #fff;
}
.contac label{
    font-size: 18px;
    padding-top: 15px;
}

.msj{
    height: 100px;
}
.btn1{
    margin-right: 20px;
    height: 60px;
    width: 170px;
    margin-top: 30px;
    margin-left: 230px;
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #fff;
    font-size: 22px;
    border-radius: 5%;
    transition: 0.3s ease;
    border: none
}
.btn1:hover{
    background: #e52d27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.redes{
    display: flex;
    flex-direction: column;
    padding: 50px 0px;
}
.redes a{
    width: 100px;
    height: 120px;
    margin-top: 40px;
}
.redes i{
    color: #000000;
    font-size: 100px;
    transition: 0.3 ease;
}
div .ig{
    color: darkorange;
}
.redes .ytb{
    color: rgb(255, 0, 0);
}
