body{
    background-image: url(img/trivia/fondogimnasio\ copia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Comienzo de Header */
header{
    background-color: #000;
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 1000;
    margin-bottom: 20px;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav{
   margin-left: 115px;
 
}
.nav a{
    padding-right: 60px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease;
}
.nav a:hover{
    color: red;
    filter: drop-shadow(10px 10px 20px red);
}

.logo{
    width: 140px;
    height: 90px;
}
.btn-head{
    margin-right: 20px;
    height: 60px;
    width: 180px;
    
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5%;
    transition: 0.3s ease;

}
.btn-head:hover{
    background: #e52d27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.btn-head a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}

.drop{
    display: none;
}